In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sidetable

plt.rcParams["figure.figsize"] = (10,8)
pd.options.display.max_columns = None

In [2]:
df = pd.read_csv('../datos/df_bank_clean', index_col = 0)

In [3]:
df.sample(3)

,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,poutcome,"emp,var,rate","cons,price,idx","cons,conf,idx",euribor3m,"nr,employed",y,month_day_week
25125,31,blue-collar,married,basic.9y,0.0,1.0,0.0,cellular,60,2,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,no,"['nov', 'tue']"
26205,44,admin.,single,professional.course,0.0,0.0,0.0,cellular,48,3,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no,"['nov', 'thu']"
40178,51,admin.,married,university.degree,0.0,0.0,1.0,cellular,486,1,999,0,nonexistent,-1.7,94.215,-40.3,0.861,4991.6,yes,"['jul', 'fri']"

1- Columnas loan, housing y default: estas columnas contienen valores únicos de 0 y 1. Esto puede parecer poco intuitivo a la hora de la extracción de conclusiones y en las visualizaciones. 
- El objetivo de este ejercicio es que cambies los valores númericos por "Si" y "No". A que corresponde cada uno de los valores lo tenéis en el pair de Limpieza I.

2- Para la columna de education, si nos fijamos en sus valores únicos veremos que tenemos puntos. 
- El objetivo de este ejercicio es que quitéis los puntos de esos valores y los reemplacéis por espacios.

3- Para la columna job, hay un valor único que esta abreviado (admin.), cambiad la abreviatura por el nombre completo.

4- La columna month_day_week tiene una lista que contiene información muy diferente. 
- El objetivo de este ejercicio es separar esta columna en dos nuevas, donde tengamos los meses en una columna y los días de la semana en otra.

5- Guarda el csv con las columnas limpias para seguir trabajando con este dataframe limpio.