## ETL -4

In [2]:
import pandas as pd
import mysql.connector

Es el momento de meter todos nuestros datos en SQL üí™üèΩ!!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras.
üìå Nota Todo lo tendremos que hacer desde jupyter notebook

1. Cread la BBDD con el nombre de energ√≠a. La BBDD tendr√° la siguiente forma:

In [3]:
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password="AlumnaAdalab", # aqu√≠ tendr√©is que poner vuestra contrase√±a de MySQL
      auth_plugin = 'mysql_native_password') # esta l√≠nea no es necesaria solo lo tendr√©is que incluir si os sale el siguiente error: Authentication plugin 'caching_sha2_password' is not supported
    print("Conexi√≥n realizada con √©xito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [4]:
crear_bbdd('energ√≠a')

Conexi√≥n realizada con √©xito
CMySQLCursor: CREATE DATABASE IF NOT EXISTS energ√≠a;

2. Cread las tablas de la BBDD:

Tabla fechas

Tabla nacional_renovable_no_renovable

Tabla comunidades_renovable_no_renovable

Tabla comunidades

Aspecto que deber√°n tener las tablas:

![tablas](https://github.com/Adalab/data_imagenes/blob/main/Modulo-2/Limpieza/esquema_BBDD.png?raw=true)

In [5]:
def crear_insertar_tabla(nombre_bbdd, contrase√±a, query):
    
    # nos conectamsos con el servidor usando el conector de sql
    cnx = mysql.connector.connect(user='root', password=f"{contrase√±a}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}",  
                                     auth_plugin = 'mysql_native_password')
    # iniciamos el cursor
    mycursor = cnx.cursor()
    
    # intentamos hacer la query
    try: 
        mycursor.execute(query)
        cnx.commit() 
    # en caso de que podamos ejecutar la query devuelvenos un error para saber en que nos estamos equivocando
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [6]:
tabla_comunidades = '''
CREATE TABLE IF NOT EXISTS `energ√≠a`.`comunidades` (
  `idcomunidades` INT NOT NULL AUTO_INCREMENT,
  `comunidad` VARCHAR(45),
  PRIMARY KEY (`idcomunidades`))
ENGINE = InnoDB;
'''

In [7]:
crear_insertar_tabla('energ√≠a', 'AlumnaAdalab', tabla_comunidades)

In [8]:
tabla_nacional_renovable_no_renovable = """
CREATE TABLE IF NOT EXISTS `energ√≠a`.`nacional_renovable_no_renovable`(
`idnacional` INT NOT NULL AUTO_INCREMENT,
`porcentaje` DECIMAL,
`tipo_energia` VARCHAR(45),
`valor` DECIMAL,
`comunidades_idcomunidades` INT,
PRIMARY KEY (`idnacional`))
ENGINE = InnoDB;"""

In [9]:
crear_insertar_tabla('energ√≠a', 'AlumnaAdalab', tabla_nacional_renovable_no_renovable)

In [10]:
tabla_comunidades_renovable_no_renovable = """
    CREATE TABLE IF NOT EXISTS `energ√≠a`.`comunidades_renovable_no_renovable`(
    `id` INT NOT NULL AUTO_INCREMENT,
    `porcentaje` DECIMAL,
    `tipo_energia` VARCHAR(45),
    `valor` DECIMAL,
    `idcomunidades` INT NOT NULL,
    PRIMARY KEY (`id`),
    CONSTRAINT `fk_comunidades_comunidades`
        FOREIGN KEY (`idcomunidades`)
        REFERENCES `energ√≠a`.`comunidades` (`idcomunidades`))
    ENGINE = InnoDB;"""

In [11]:
crear_insertar_tabla('energ√≠a', 'AlumnaAdalab', tabla_comunidades_renovable_no_renovable)

In [12]:
tabla_fechas = """
    CREATE TABLE IF NOT EXISTS `energ√≠a`.`fechas`(
    `idFechas` INT NOT NULL AUTO_INCREMENT,
    `fecha` DATE,
    `nacional_renovable_no_renovable_id` INT,
    `comunidades_renovable_no_renovable_id` INT,
    PRIMARY KEY (`idFechas`),
    CONSTRAINT `fk_nacional_fechas`
        FOREIGN KEY(`nacional_renovable_no_renovable_id`)
        REFERENCES `energ√≠a`.`nacional_renovable_no_renovable`(`idnacional`),
    CONSTRAINT `fk_comunidades_fechas`
        FOREIGN KEY (`comunidades_renovable_no_renovable_id`)
        REFERENCES `energ√≠a`.`comunidades_renovable_no_renovable` (`id`))
    ENGINE = InnoDB;"""

In [13]:
crear_insertar_tabla('energ√≠a', 'AlumnaAdalab', tabla_fechas)

In [14]:
df_nacional = pd.read_csv('../datos/df_energia_nacional.csv', index_col = 0)
df_ccaa = pd.read_csv('../datos/df_ccaa_clean.csv', index_col = 0)
df_comunidades = pd.read_csv('../datos/poblacion_comunidades_clean.csv', index_col = 0)

In [15]:
df_comunidades.sample(3)

     Comunidad  indice   A√±o      Total
48     Melilla    8745  1999     56.929
111  Cantabria       6  2011    593.121
415   Canarias    8742  2007  2.025.951

In [16]:
df_ccaa.sample(3)

           value  percentage          type              CCAA       fecha
240  12889964.07        0.38     renovable         Andaluc√≠a  2019-01-01
116   1515185.56        0.28     renovable  Regi√≥n de Murcia  2014-01-01
161  35701867.52        0.83  no renovable          Catalu√±a  2016-01-01

In [17]:
df_nacional.sample(3)

           value  percentage                       datetime          type
20  1.629155e+08    0.624607  2019-01-01T00:00:00.000+01:00  no renovable
13  1.977799e+08    0.698576  2012-01-01T00:00:00.000+01:00  no renovable
5   1.010892e+08    0.386079  2016-01-01T00:00:00.000+01:00     renovable

BONUS 

3. Insertar los datos en las tablas.

üìå Nota Esta parte del pair es optativa y no ser√° considerada para la evaluaci√≥n

In [18]:
def check_comunidades(contrase√±a, nombre_bbdd):
    
    cnx = mysql.connector.connect(user='root', password=f'{contrase√±a}',
                                  host='127.0.0.1', database=f"{nombre_bbdd}",  auth_plugin = 'mysql_native_password')
    mycursor = cnx.cursor()


    query_existe_comunidad = f"""
            SELECT DISTINCT comunidad FROM comunidades
            """
    mycursor.execute(query_existe_comunidad)
    comunidades = mycursor.fetchall()
    return comunidades

In [19]:
check_comunidades("AlumnaAdalab", "energ√≠a")

[('Andaluc√≠a',),
 ('Arag√≥n',),
 ('Cantabria',),
 ('Castilla - La Mancha',),
 ('Castilla y Le√≥n',),
 ('Catalu√±a',),
 ('Pa√≠s Vasco',),
 ('Principado de Asturias',),
 ('Comunidad de Madrid',),
 ('Comunidad Foral de Navarra',),
 ('Comunitat Valenciana',),
 ('Extremadura',),
 ('Galicia',),
 ('Regi√≥n de Murcia',),
 ('La Rioja',)]

In [20]:
for indice, fila in df_comunidades.iterrows():
    
    # creamos la query que no inserta datos en la tabla localidades
    query_comunidades = f"""
                INSERT INTO comunidades (comunidad) 
                VALUES ("{fila["CCAA"]}");
                """  
    
    comunidades = carga.check_comunidades()
    list_comunidades = [i for tupla in comunidades for i in tupla]
    
    
    if fila['CCAA'] not in list_comunidades: 
        carga.crear_insertar_tabla(query_comunidades)

    else:
        print(f"{fila['CCAA']} ya esta en nuestra BBDD")

KeyError: 'CCAA'

In [23]:
df_nacional = pd.read_csv('../datos/nacional_clean.csv', index_col = 0)

In [25]:
df_nacional.sample(4)

           value  percentage    datetime          type
1   8.533872e+07        0.30  2012-01-01     renovable
12  1.926868e+08        0.69  2011-01-01  no renovable
7   1.003444e+08        0.38  2018-01-01     renovable
6   8.461087e+07        0.32  2017-01-01     renovable

In [30]:
for indice, fila in df_nacional.iterrows():
    
    # creamos la query que no inserta datos en la tabla localidades
    query_nacional = f"""
                INSERT INTO nacional_renovable_no_renovable (porcentaje) 
                VALUES ("{fila["percentage"]}");
                """  
    crear_insertar_tabla('energ√≠a', 'AlumnaAdalab', query_nacional)